@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@1,600&display=swap");

body {
  font-family: 'Cormorant Garamond', serif;
  background-image: url(goldbg.jpg);
  background-size: 100%;
  color: rgb(10, 10, 10);
}

.main {
  display: flexbox;
  flex-direction: column;
  background-color: rgba(247, 224, 159, 0.753);
  width: 30%;
  height: 30em;
  margin-left: 35%;
  border-radius: 1em;
  margin-top: 5%;
  align-content: center;
}
.btn {
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin-left: 25%;
  background-color: rgba(245, 195, 102, 0.767);
  width: 100px;
}
.btn:hover {
  background-color: ivory;
}
.btn2 {
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin-left: 3%;
  width: 100px;
  background-color: rgba(245, 195, 102, 0.767);
}
.btn2:hover {
  background-color: ivory;
}
.likes {
  text-align: center;
  margin-top: 3%;
}
.heart {
  border: none;
  background-color: transparent;
}
.github {
  margin-left: 44%;
  border: none;
  background-color: transparent;
}
.count {
  font-size: 30px;
}
img {
  border-radius: 50%;
  height: 45%;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
h1 {
  font-size: 40px;
  margin-bottom: 10%;
  margin-top: 5px;
  text-align: center;
}
p {
  font-size: 25px;
  margin-top: -40px;
  text-align: center;
  margin-bottom: 2%;
}


@media (max-width: 375px) {
body {
  background-image: url(goldnight.jpg);
  background-position: center center;
background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(59, 58, 58);
  background-attachment: fixed;
}

.main {
  display: flexbox;
  flex-direction: column;
  background-color: rgba(247, 224, 159, 0.753);
  width: 20em;
  height: 40em;
  border-radius: 1em;
  margin-top: 50%;
  margin-left: 7%;
}
.sheli {
  border-radius: 50%;
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 25%;
}

h1 {
  font-size: 40px;
  margin-bottom: 15%;
  margin-top: 30px;
  text-align: center;
}
p {
  font-size: 25px;
  margin-top: -40px;
  text-align: center;
  margin-bottom: 7%;
}
.btn {
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin-left: 17%;
  background-color: rgba(184, 145, 101, 0.596);
  width: 100px;
  font-size: 15px;
}
.btn:hover {
  background-color: ivory;
}
.btn2 {
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin-left: 3%;
  width: 100px;
  background-color: rgba(184, 145, 101, 0.596);
  font-size: 15px;
}
.btn2:hover {
  background-color: ivory;
}
.likes {
  text-align: center;
  margin-top: 7%;
}
.heart {
  border: none;
  background-color: transparent;
}
.github {
  margin-left: 44%;
  border: none;
  background-color: transparent;
  margin-top: 7%;
  
}
}